#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  button {
    margin: 10px;
  }
  
  h1 {
    height: 200px;
    color: rgb(106, 231, 33);
    align-content: center;
    border: 5px solid rgb(197, 50, 50);
  }